{% extends "base.html.twig" %}

{% block title %}Terrain {{ terrain1.Name }} et {{ terrain2.Name }} - {% endblock %}

{% block body %}

    <div id="container" class="col-12 text-center">



<div class="row">
        <div class="col" id="matchs1">        <h2 id="nomTerrain">{{ terrain1.Name }}</h2>
        </div>
        <div class="col" id="matchs2"> <h2 id="nomTerrain">{{ terrain2.Name }}</h2></div>
</div>


        <hr />
        <figure id="terrain">
            <svg class="img-fluid" viewBox="0 0 1224 547" width="1224" height="547" preserveAspectRatio="xMinYMin meet" >
                <image width="1224" height="547" xlink:href="/img/PlanTerrainsTournoi.png" />

                <g opacity="0" id="terrain1">
                    <a xlink:href="/terrain/1">
                        <rect x="510" y="210" opacity="1" fill="blue" width="155" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain2">
                    <a xlink:href="/terrain/2">
                        <rect x="542" y="273" opacity="1" fill="red" width="130" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain3">
                    <a xlink:href="/terrain/3">
                        <rect x="800" y="245" opacity="1" fill="pink" width="160" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain4">
                    <a xlink:href="/terrain/4">
                        <rect x="870" y="312" opacity="1" fill="red" width="160" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain5">
                    <a xlink:href="/terrain/5">
                        <rect x="350" y="115" opacity="1" fill="cyan" width="145" height="35" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain6">
                    <a xlink:href="/terrain/6">
                        <rect x="374" y="70" opacity="1" fill="red" width="125" height="30" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain7">
                    <a xlink:href="/terrain/7">
                        <rect x="230" y="-243" opacity="1" fill="yellow" width="40" height="90" style="transform: rotate(55deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain8">
                    <a xlink:href="/terrain/8">
                        <rect x="187" y="-175" opacity="1" fill="crimson" width="42" height="115" style="transform: rotate(53deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain9">
                    <a xlink:href="/terrain/9">
                        <rect x="232" y="-110" opacity="1" fill="orange" width="40" height="110" style="transform: rotate(55deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain10">
                    <a xlink:href="/terrain/10">
                        <rect x="280" y="-182" opacity="1" fill="red" width="42" height="100" style="transform: rotate(56deg);" ></rect>
                    </a>
                </g>

            </svg>
        </figure>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}

var url =url_base+"/api/matchs?orderTime=1"

var load = document.createElement("h3");
load.setAttribute("id", "load");
load.innerText= "Chargement en cours";
document.getElementById("container").appendChild(load);

createTable("matchs1");
createTable("matchs2")

fetch(url).then(function(resultas){
    document.getElementById("load").style.display="none";
    resultas.json().then(function(object){
        jsondata = object.data;
        
        jsondata.forEach(function(match){
        console.log(match);
            if(match.Field && (match.Field.Name === "{{ terrain1.Name }}" || match.Field.Name === "{{ terrain2.Name }}"))
            {

            tr = document.createElement("tr");
            tr.innerText =  match.Phase.Name;
            if(match.Field.Name === "{{ terrain1.Name }}" )
            {
             document.querySelector("#matchs1 tbody").appendChild(tr);
            } else
            {
             document.querySelector("#matchs2 tbody").appendChild(tr);
            }


            let td = document.createElement("td");
            var date = new Date(((match.time-7200)*1000))
            td.innerText = match.time ? (date.getHours() < 10 ? "0" : "") + date.getHours()+"h"+ (date.getMinutes() < 10 ? "0" : "") + date.getMinutes() : "à définir";
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = match.arbibre ? match.arbibre : "à définir";
            tr.appendChild(td);

            td = document.createElement("td");
            if(match.ScoreA || match.ScoreB || match.PenaltyA || match.PenaltyB)
            {
              td.innerText = "oui";
              td.classList.add("bg-success","text-white","px-1")
            }
            else
            {
            td.innerText = "non";
            td.classList.add("bg-light","a","px-1")
            }

            tr.appendChild(td);




            };

   });

    });
});

function createTable(name)
{
var div = document.createElement("div");
        document.getElementById(name).appendChild(div);

         let table = document.createElement("table");
        table.setAttribute("class", "table table-bordered");
        div.appendChild(table);

        let thead = document.createElement("thead");
        table.appendChild(thead);

        let tbody = document.createElement("tbody");
        table.appendChild(tbody);

        let th = document.createElement("th");
        th.innerText= "Catégorie - Poule";
        thead.appendChild(th);

        th = document.createElement("th");
        th.innerText= "Heure";
        thead.appendChild(th);

        th = document.createElement("th");
        th.innerText= "Arbitre";
        thead.appendChild(th);

        th = document.createElement("th");
        th.innerText= "Joué ?";
        thead.appendChild(th);

}
setInterval(function(){
    location.reload();
},30000);
{% endblock %}