<div class="row small" id="poule_{{ poule.id }}">
    <div class="col">
        {% if poule.positionsTo %}

            {% if false %}
            <h5>Composition de la poule : </h5>
            <ul>
                {% if poule.positionsTo|length == 0 %}
                    {% for team in poule.teams %}
                        <li>{{ team.Name }}</li>
                        {% endfor %}
                {% endif %}
            {% for key, position in poule.positionsTo %}
                <li>{% if phase.param == 24  and position.intParam is not null  %}
                3ème de poule ({{ position.intParam }}{% if position.intParam == 1 %}er{% else %}ème{% endif %} meilleur troisième)
                {% else %}
                {{ position.Rang  }}{% if position.Rang == 1 %}er{% else %}ème{% endif %}  de la poule {{ position.pouleFrom.Name }}
                {% endif %}
                     #{{ position.id }} -

                    {% if positions is defined %}<form action="{{ path("app_position_echange") }}" class="d-inline"><input type="hidden" name="id" value="{{ poule.id }}"><input type="hidden" name="from" value="{{ position.id }}">échanger avec : <select name="to" class="small mr-2"><option></option>{% for position in positions %}<option>{{ position.id  }}</option>{% endfor %}</select><button class="btn btn-outline-primary ml-2 py-0 btn-sm" type="submit">ok</button></form>
                        {% endif %}
                </li>
            {% endfor %}


            </ul>{% endif %}{% endif %}
    </div>

    {% if poule.positionsFrom and poule.positionsFrom|length>0 %}
    <div class="col">
             <h5>Phase suivante : </h5>
            <ul>
                {% for key,position in poule.positionsFrom %}
                    {% if key == 2 and phase.type.format == "normal" and phase.param == 24   %}<li>les 4 meilleurs 3e sont qualifiés en principal et les deux moins bons 3e sont qualifiés en consolante</li>
                {% else %}  <li>{{ position.Rang }}{% if position.Rang == 1 %}er{% else %}ème{% endif %}{% if position.pouleTo is not null %} de la poule ira dans la poule {{ position.pouleTo.Name }}{% endif %}</li>{% endif %}
                {% endfor %}
            </ul>


    </div>
    {% endif %}

    <hr />


</div>