 <div class="container-fluid bg-dark pb-2 text-white mt-5 pt-1">
    <div class="row mt-5 pt-0">

        <div class="col-12 text-center" >      <h1>Administration du tournoi
                <a href="{{ path("app_logout") }}" class="btn btn-sm float-start btn-outline-light mt-2">{{ app.user.username }}  (déconnexion)</a>
                <a class="btn btn-sm float-end btn-info mt-2" href="{{ path("app_admin") }}">Accueil Admin</a></h1>
        </div>

        <div class="row">{% for category in categories %}

                <div class="col">
                    <a class="btn btn-primary w-100 m-2" href="{{ path("app_admin_category",{id:category.id}) }}">{{ category.Name }}</a></div>

            {% endfor %}
        </div>

        <div class="row">

            <div class="col"><a class="btn btn-secondary  btn-sm  w-100 m-2" href="{{ path("time_index") }}">Matchs</a></div>

        </div>

    </div>
</div>
