{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.Name }}{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <h3 class="">Catégorie {{ category.Name }} - Phase : {{ phase.Name }}</h3>

        <hr class="mt-5">

        <h4>Classement</h4>


        {% for key,groupe in classement %}

        <h5 class="mt-4">Groupe {{ key }} <a href="{{ path("app_admin_category_phase_groupe", {groupe:key,idCategory:category.id, idPhase:phase.id}) }}" class="btn btn-primary float-end py-0">voir les matchs du groupe {{ key }}</a></h5>

             <table class="table table-striped table-bordered">
                 <tr>
                     <th>Équipe</th>
                     <th>Points</th>
                     <th>Pour</th>
                     <th>Contre</th>
                     <th>Victoire</th>
                     <th>Défaite</th>
                     <th>Nul</th>

                 </tr>
            {% for team in groupe %}

                <tr>
                    <td>{{ team.Name }}</td>
                    <td>{{ team.pts }}</td>
                    <td>{{ team.but_pour }}</td>
                    <td>{{ team.but_contre }}</td>
                    <td>{{ team.victoire }}</td>
                    <td>{{ team.defaite }}</td>
                    <td>{{ team.nul }}</td>
                </tr>


            {% endfor %}
            </table>
        {% endfor %}



        <hr class="mt-5">

        <div class="row mt-5">

            <div class="col"><a class="btn btn-secondary w-100 m-2" href="{{ path("app_admin_category_phase_generate",{idCategory:category.id, idPhase:phase.id}) }}">Générer les matchs de la phase</a></div>

        </div>


    </div>
{% endblock %}

{% block secondNav %}
    {% include "admin/adminMenu.html.twig" %}
{% endblock %}