{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.Name }} - {% endblock %}

{% block body %}


    <div class="example-wrapper">

        <h3 class=""><a href="{{ path("app_admin_category",{id:category.id}) }}">Catégorie {{ category.Name }}</a> > Phase : {{ phase.Name }}</h3>


{% set nbEgalite = 0 %}



        {% include "admin/block/block_category_phase.html.twig" %}





        {#<hr>#}
        {#<h4>Matchs</h4>#}
{#<hr >#}

        {#{% for groupe_array in groupes %}#}

                    {#{% set groupe = groupe_array["poule"] %}#}

            {#<h5>Matchs de {{ groupe }}</h5>#}
            {#<hr />#}

                {#{% include "admin/block/matchs.html.twig" %}#}
            {#<hr  class="mt-5" />#}
            {#{% endfor %}#}

{% set manqueTroisieme = false %}
        {% if is_granted("ROLE_ADMIN") and phase.finished()  and phase.param == 24 and phase.type.format == "normal" %}


            <h3 class="mt-5">Gestion des troisièmes</h3>


        <table class="table table-striped table-bordered">
            <tr>
                <th>#</th>
                <th>Équipe</th>
                <th>Points</th>
                <th>Diff</th>
                <th>Pour</th>
                <th>Contre</th>
                <th>Victoire</th>
                <th>Défaite</th>
                <th>Nul</th>

            </tr>

            {% for team in troisiemes %}


                <tr>
                    <th>

{% if not team["rangTroisieme"]   %}
                        {% set manqueTroisieme = true %}
{% endif %}
                            <form class="d-inline" action="{{ path("app_admin_egalite_troisieme") }}" method="post"><input type="hidden" name="idPhase" value="{{ phase.id }}"><input type="hidden" name="idCategory" value="{{ category.id }}"><input type="hidden" name="team" value="{{ team.id }}"><input type="text" style="width: 30px;" value="{% if team["rangTroisieme"] %}{{ team["rangTroisieme"].rang }}{% endif %}" name="rang"><input type="submit" value="X" /></form>

                        </th>
                    <th>{{ team["Name"] }}</th>
                    <th>{{ team["pts"] }}</th>
                    <th>{{ team["but_pour"] - team["but_contre"] }}</th>
                    <th>{{ team["but_pour"] }}</th>
                    <th>{{ team["but_contre"] }}</th>
                    <th>{{ team["victoire"] }}</th>
                    <th>{{ team["defaite"] }}</th>
                    <th>{{ team["nul"] }}</th>

                </tr>

{% endfor %}
        </table>



            <hr />
        {% endif %}



        <div class="row mt-5">

            {% if is_granted("ROLE_ADMIN") %}
                <div class="col-4">
                    {% if not phase.finished() and phase.type.format != "echiquier" %}
                       <p class="alert alert-danger">impossible de générer les matchs de la poule, tous les matchs ne sont pas terminés</p>
                    {% elseif manqueTroisieme %}
                        <p class="alert alert-danger">impossible de générer les matchs de la poule, vous devez valider le classement des troisièmes</p>
                    {% elseif nbEgalite > 0 %}
                        <p class="alert alert-danger">impossible de générer les matchs de la poule des égalités existent</p>

                    {% else  %}
                    <a class="btn btn-secondary w-100 m-2"  href="{{ path("app_admin_category_phase_generate",{idCategory:category.id, idPhase:phase.id}) }}">Générer les matchs de la phase suivante</a>
                {% endif %}</div>

            {% if params["tournoi_en_cours"] != "oui" %}
                <div class="col-4"><a class="btn btn-danger w-100 m-2" href="{{ path("app_admin_category_phase_delete",{idCategory:category.id, idPhase:phase.id}) }}">Supprimer tous les matchs de la phase</a></div>
            {% endif %}

                {% if params["tournoi_en_cours"] != "oui" %} <div class="col-4"><a class="btn btn-primary w-100 m-2" href="{{ path("app_admin_update_phase",{idCategory:category.id, id:phase.id}) }}">Modifier la phase</a></div>
                <div class="col-4"><a class="btn btn-primary w-100 m-2" href="{{ path("app_admin_simulate_match",{idCategory:category.id, idPhase:phase.id}) }}">Simuler tous les matchs</a></div>{% endif %}
            {% endif %}


        </div>



    </div>
{% endblock %}

{% block secondNav %}
    {% include "admin/adminMenu.html.twig" %}
{% endblock %}