{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.Name }} - {% endblock %}

{% block body %}

<div class="example-wrapper">

    <h3 class="">Catégorie {{ category.Name }} - {{  category.matchPlayed() }} matchs joués </h3>

    <hr class="mt-5">

    <h4>Phases</h4>

    {% for phase in category.phases  %}
        <a class="btn btn-primary btn-lg ml-4 mb-3" href="{{ path("app_admin_category_phase", {idCategory:category.id, idPhase:phase.id}) }}">{{ phase.Name }}</a>
    {% endfor %}

    <hr class="mt-5">

    <h4>{{ category.teams|length }} équipes</h4>

    {% for team in category.teams  %}
    <div class="btn btn-primary btn-lg ml-4 mb-3">
        <a class="text-white text-decoration-none" href="{{ path("app_admin_update_team",{id:team.id}) }}">{{ team.Name }} {% if team.rang %}<span class="small">({{ team.rang }}</span>){% endif %}</a>
        <a href="{{ path("admin_team_delete",{id:team.id}) }}" class="bg-danger px-1 py-0 text-decoration-none ml-3 small text-white rounded-1">x</a>
    </div>

        {% endfor %}

    <hr class="mt-5">

    <div class="row mt-5">

        {% if is_granted("ROLE_ADMIN") %}

        {% if params["tournoi_en_cours"] != "oui" %}
        <div class="col"><a class="btn btn-secondary w-100 m-2" href="{{ path('app_add_team', {idCategory:category.id}) }}">Ajouter une équipe</a></div>

        <div class="col"><a class="btn btn-secondary w-100 m-2" href="{{ path("app_admin_add_phase", {idCategory: category.id}) }}">Ajouter une phase</a></div>{% endif %}


        <div class="col">
            {% if category.matchPlayed() > 0 %}
            {% else %}
            <a class="btn btn-secondary w-100 m-2" href="{{ path("app_admin_category_generate", { idCategory:category.id }) }}">Générer les matchs des différentes phases</a>
            {% endif %}
        </div>

        {% endif %}
    </div>


</div>
{% endblock %}

{% block secondNav %}
    {% include "admin/adminMenu.html.twig" %}
{% endblock %}