{% extends "base.html.twig" %}
{% block body %}

        <h2>Tous les matchs du tournoi</h2>

   <form> <div class="row">

           <div class="col">Catégorie : <select class="form-select" name="filterCategorie"><option  ></option>
                   {% for categorie in categories %}
                       <option {% if categorie.id == filterCategorie %} selected {% endif %} value="{{ categorie.id }}">{{ categorie }}</option>
                   {% endfor %}
               </select></div>

            <div class="col">Phase : <select class="form-select" name="filterPhase"><option  ></option>
                            {% for phase in phases %}
                                <option {% if phase.id == filterPhase %} selected {% endif %} value="{{ phase.id }}">{{ phase }}</option>
                            {% endfor %}
                    </select></div>

           <div class="col">Terrain : <select class="form-select" name="filterField"><option></option>
                   {% for field in fields %}
                       {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_"~field.id|trans)  %}
                       <option {% if field.id == filterField %} selected {% endif %} value="{{ field.id }}">{{ field }}</option>
                       {% endif %}
                   {% endfor %}
               </select></div>

           <div class="col">Équipe : <select class="form-select" name="filterTeam"><option></option>
                   {% for team in teams %}
                       <option {% if team.id == filterTeam %} selected {% endif %} value="{{ team.id }}">{{ team }} - {{ team.Category }}</option>
                   {% endfor %}
               </select></div>

       <div class="col"><br /><input class="form-select" type="submit" value="Filtrer" /></div>
       </div>
   </form>

<table class="table mt-3 table-responsive table-bordered table-striped">
<tr>
        <th>Equipe A</th><th>-</th><th>Equipe B</th><th>Phase</th><th>Tour</th><th>Terrain</th><th>Horaire</th><th>Arbitre</th><th>Saisie</th></tr>
  {%  for meet in times %}
{% if is_granted("ROLE_ADMIN") or (meet.field is not null and is_granted("ROLE_"~meet.field.id|trans) ) %}
        <tr>

                <td>{% if meet.teamA %}
                        {{ meet.teamA.Name }} ({{ meet.scoreA }})
                    {% elseif meet.positionA %}{{ meet.positionA.Rang }}{% if meet.positionA.Rang == 1 %}er{% else %}ème{% endif %} de la poule {{ meet.positionA.pouleFrom }}
                    {% elseif meet.Name %}{{ meet.Name }}{% endif %}</td>
                <td>-</td>
                <td>{% if meet.teamB %}{{ meet.teamB.Name }} ({{ meet.ScoreB }})
                    {% elseif meet.positionB %}{{ meet.positionB.Rang }}{% if meet.positionB.Rang == 1 %}er{% else %}ème{% endif %} de la poule {{ meet.positionB.pouleFrom }}
                    {% elseif meet.Name %}{{ meet.Name }}{% endif %}</td>
        <td>{{ meet.phase.Name }}</td>
                <td>{{ meet.tour }}</td>
                <td>{% if meet.field %}{{ meet.field.Name }}{% endif %}</td>
                <td>{{ meet.time|date("d/m/y H:i:s") }}</td>
                <td><small>{{ meet.arbitre }}</small></td>
            <td>{% if meet.scoreA is null and meet.scoreB is null %}<a class="btn btn-sm btn-primary" href="{{ path("app_admin_saisie",{id:meet.id,back:app.request.requesturi}) }}">saisir</a>{% endif %}</td>
        </tr>
{% endif %}
    {% endfor %}

</table>

        <div class="mt-5"><a class="btn btn-secondary w-100 m-2" href="{{ path("app_generate_time") }}">Générer les horaires</a></div>


{% endblock %}

{% block secondNav %}
    {% include "admin/adminMenu.html.twig" %}
{% endblock %}