{% extends "base.html.twig" %}

{% block title %}Tableau Général - {% endblock %}

{% block navbar %}

    {% if app.request.get('fullscreen') == 1 %}
    {% else %}
    {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}


    </div></div></div>
<section class="m-0 p-0">
    <div class="container-fluid m-0">
        <div class="row g-2">
    {% for category in categories %}

        <div class="col-12 col-md-4 small"><table class="table table-striped table-responsive"><figure class="text-center mt-3" top><h3>{{ category.Name }}</h3></figure>

            <thead><tr>


                <th class="text-right">Match</th><th>Heure</th><th>Terrain</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>edit
                    </td>
                {% endif %}
            </tr></thead>

            <tbody>
            {% if category.phaseEnCours %}
                {% for phase in category.phases %}


                  {% if phase.meets|length > 0 %}  <th class="text-center" colspan="4"><h4>{{ phase.Name }}</h4></th> {% endif %}

                {% for match in phase.getMeets %}


            <tr class="{% if match.TeamA and match.TeamB and (match.ScoreA is not null  or match.ScoreB is not null or match.PenaltyA  is not null or match.PenaltyB  is not null) %}bg-primary  bg-opacity-10{% endif %}">


                {% if match.TeamA and match.TeamB %}<td class="text-right">{{ match.TeamA }} {% if match.ScoreA %}<b>{{ match.ScoreA }}</b>{% endif %} - {% if match.ScoreB %}<b>{{ match.ScoreB }}</b>{% endif %} {{ match.TeamB }}</td>
                {% elseif match.Name %}<td class="text-right">{{ match.Name }}</td>
                {% elseif match.positionA and match.positionB %}<td class="text-right">{{ match.positionA.Rang }}{% if match.positionA.Rang == 1 %}er{% else %}ème{% endif %} de la poule {{ match.positionA.pouleFrom }} - {{ match.positionB.Rang }}{% if match.positionB.Rang == 1 %}er{% else %}ème{% endif %} de la poule {{ match.positionB.pouleFrom }}</td>


                    {% endif %}

                <td>{{ match.time|date("H:i") }}</td>
                <td>{{ match.field }}</td>
                {% if is_granted("ROLE_ADMIN") or (match.field is not null and is_granted("ROLE_"~match.field.id|trans) ) %}
                    <td><a href="{{ path("app_admin_saisie", {id:match.id,back:path("app_tableau") }) }}" class="btn btn-sm p-0 px-1 btn-primary">x</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        {% endfor %}

            {% endif %}

            </tbody>

            </table></div>

    {% endfor %}
            <a href="?fullscreen=1" class="btn btn-primary w-100 mt-3">voir en plein écran</a>

{% endblock %}

{% block javascript %}

            setInterval(function()
            {
                location.reload();
            },30000);

{% endblock %}