{% extends "base.html.twig" %}

{% block title %}Catégorie {{ category.Name }} - {{ phase }} - {% endblock %}


{% block body %}
{% if category.phases|length > 1 %}
    <div class="row mb-4">
        {% for phase in category.phases %}
            <div class="col-12 col-md-4"><a class="btn btn-primary w-100 text-center" href="{{ path("category_display_phase",{id:category.id,phase:phase.id}) }}">{{ phase.Name }}</a></div>
        {% endfor %}


    </div>{% endif %}

    <h3 class=""><a href="{{ path("category_display",{id:category.id}) }}">Catégorie {{ category.Name }}</a> > Phase : {{ phase.Name }}</h3>


    <div id="data">

    </div>


{% endblock %}

{% block javascript %}

    var load = document.createElement("h3");
    load.setAttribute("id", "load");
    load.innerText= "Chargement en cours";
    document.getElementById("data").appendChild(load);

fetch("/api/data/phase?phase={{ phase.id }}&category={{ category.id }}").then((data)=>{
    //console.log(data);
    document.getElementById("load").style.display= "none";
    data.json().then((jsonData)=>{
        //console.log(jsonData);



        let equipe = jsonData.data;
        //console.log(equipe);
        var IdListe = 1;
        for(const namePoule in equipe){
            //console.log(namePoule);
            let poule = equipe[namePoule];
            //console.log({poule});
            namePouleString = poule[0]["pouleNameString"]
            //console.log(poule);
                    var div = document.createElement("div");
                    div.classList.add("mt-5","row","text-center");
                    div.setAttribute("id","poule_"+namePoule);



                    let h3 = document.createElement("h3");
                    h3.classList.add("mb-3");
                    h3.innerHTML = "Groupe " + namePouleString;
                    document.getElementById('data').appendChild(div);
                    div.appendChild(h3);



                 if(jsonData.param.format === "demifinalesfinales")
                        {
                            var divGauche = document.createElement("div");
                            divGauche.classList.add("col","text-center")
                            div.appendChild(divGauche);

                            h4 = document.createElement('h4');
                            h4.innerHTML = "Demi-finale";
                            divGauche.appendChild(h4)
                            divGauche.classList.add("divDemiFinale1");




                            var divMilieu = document.createElement("div");
                            divMilieu.classList.add("col","text-center")
                            div.appendChild(divMilieu);

                            h4 = document.createElement('h4');
                            h4.innerHTML = "Finale";
                            divMilieu.appendChild(h4)

                            var div1 = document.createElement("div");
                            div1.classList.add("divFinaleGagnant");
                            divMilieu.appendChild(div1);

                            var div2 = document.createElement("div");
                            div2.classList.add("divFinalePerdant");
                            divMilieu.appendChild(div2);



                            var divDroite = document.createElement("div");
                            divDroite.classList.add("col","text-center")
                            div.appendChild(divDroite);

                             h4 = document.createElement('h4');
                            h4.innerHTML = "Demi-finale";
                            divDroite.appendChild(h4)
                            divDroite.classList.add("divDemiFinale2");




                            fetch("/api/data/meets?phase={{ phase.id }}&category={{ category.id }}&poule="+namePoule).then((data)=>{
                                //console.log(data);
                                    data.json().then((d)=>{
                                    x= 1
                                    for(const idMatch in d.data){

                                    var match = d.data[idMatch];
                                    //console.log(match);
                                        let divContenu = document.createElement("div");
                                        //console.log("#poule_"+namePoule +" .div1");
                                            if(x == 1  ) document.querySelector("#poule_"+namePoule +" .divDemiFinale1") .appendChild(divContenu);
                                            else if(x == 2  ) document.querySelector("#poule_"+namePoule +" .divDemiFinale2").appendChild(divContenu);
                                             else if(x == 3  ) document.querySelector("#poule_"+namePoule +" .divFinalePerdant").appendChild(divContenu);
                                              else if(x == 4  ) document.querySelector("#poule_"+namePoule +" .divFinaleGagnant").appendChild(divContenu);


                                           divContenu.classList.add("border","bg-light","text-center","mb-4");
                                            divContenu.innerHTML = match.Name + "<br />";

                                            if(match.TeamA && match.TeamB)
                                            {
                                                if(match.TeamA) divContenu.innerHTML += match.TeamA.Name;
                                                if(match.ScoreA) divContenu.innerHTML += " ("+match.ScoreA+")";
                                                if(match.PenaltyA) divContenu.innerHTML += " ("+match.PenaltyA+")";
                                                 divContenu.innerHTML += " - ";

                                                  divContenu.innerHTML += match.TeamB.Name;
                                                  if(match.ScoreB) divContenu.innerHTML += "("+match.ScoreB+")";
                                                   if(match.PenaltyB) divContenu.innerHTML += " ("+match.PenaltyB+")";
                                                   divContenu.innerHTML += "<br />";
                                            } else  if(match.PositionA && match.PositionB)
                                            {
                                                if(match.PositionA) divContenu.innerHTML += match.PositionA.Rang + ((match.PositionA.Rang > 1) ? "ème" : "er");
                                                if(match.PositionA) divContenu.innerHTML += " de la poule "+ match.PositionA.PouleFrom.Name;

                                                 divContenu.innerHTML += " contre ";

                                                 if(match.PositionB) divContenu.innerHTML += match.PositionB.Rang + ((match.PositionB.Rang > 1) ? "ème" : "er");
                                                if(match.PositionB) divContenu.innerHTML += " de la poule "+ match.PositionB.PouleFrom.Name;
                                                   divContenu.innerHTML += "<br />";
                                            }

                                             if(match.Field) divContenu.innerHTML += match.Field.Name+ " - "; else divContenu.innerHTML += "terrain à définir - ";

                                              var date = new Date(((match.time-7200)*1000))
                                                divContenu.innerHTML +=  match.time ? (date.getHours() < 10 ? "0" : "") + date.getHours()+"h"+ (date.getMinutes() < 10 ? "0" : "") + date.getMinutes() : "horaire à définir" + "<br />";
 divContenu.innerHTML += "<br />";
                                             if(match.arbitre) divContenu.innerHTML += "Arbitre : " + match.arbitre+ "<br />";

                                            x++;
                                        };
                                        });
                            });

                        } else
                        {




                    table = document.createElement("table");
                    table.classList.add( "table","table-bordered","table-responsive", "table-striped" )
                    div.appendChild(table);

                    let thead = document.createElement("thead");
                    thead.classList.add("thead-dark")
                    table.appendChild(thead);

                    let tbody = document.createElement("tbody");
                    table.appendChild(tbody);

                    let th = document.createElement("td");
                    thead.appendChild(th);

                    th = document.createElement("th");
                    th.innerText = "Equipe";
                    th.setAttribute("scope", "col");
                    thead.appendChild(th);

                    th = document.createElement("th");
                    th.innerText = "Points";
                    th.setAttribute("scope", "col");
                    thead.appendChild(th);

                    th = document.createElement("th");
                    th.innerText = "But Pour";
                    th.setAttribute("scope", "col");
                    thead.appendChild(th);

                    th = document.createElement("th");
                    th.innerText = "But Contre";
                    th.setAttribute("scope", "col");
                    thead.appendChild(th);

                    th = document.createElement("th");
                    th.innerText = "V";
                    th.setAttribute("scope", "col");
                    thead.appendChild(th);

                    th = document.createElement("th");
                    th.innerText = "N";
                    th.setAttribute("scope", "col");
                    thead.appendChild(th);

                    th = document.createElement("th");
                    th.innerText = "D";
                    th.setAttribute("scope", "col");
                    thead.appendChild(th);

                    let p = document.createElement("p");
                    p.innerText= "Composition de la poule";
                    p.setAttribute("id", "Compo"+IdListe);
                    div.appendChild(p);

                    let ul = document.createElement("ul");
                    ul.setAttribute("id", "listeCompo"+IdListe);
                    document.getElementById("Compo"+IdListe).appendChild(ul);

                    p = document.createElement("p");
                    p.innerText="Phase suivante";
                    p.setAttribute("id", "PhaseSuiv"+IdListe);
                    div.appendChild(p);

                    ul = document.createElement("ul");
                    ul.setAttribute("id", "listePhaseSuiv"+IdListe);
                    document.getElementById("PhaseSuiv"+IdListe).appendChild(ul);


                equipe[namePoule].forEach((team)=>{
                if(team.Name != "Challenge"){
                    //console.log(team);
                    tr = document.createElement("tr");
                    tbody.appendChild(tr);

                    td = document.createElement("td");
                    tr.appendChild(td);
                    
                    td = document.createElement("td");
                    td.innerHTML = team.Name;
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.innerHTML = team.pts;
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.innerHTML= team.but_contre;
                    tr.appendChild(td);


                    td = document.createElement("td");
                    td.innerHTML= team.but_pour;
                    tr.appendChild(td);

                
                    td = document.createElement("td");
                    td.innerHTML = team.victoire;
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.innerHTML = team.nul;
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.innerHTML = team.defaite;
                    tr.appendChild(td);

                    let li = document.createElement("li");
                    li.innerText = team.Name;
                    document.getElementById("listeCompo"+IdListe).appendChild(li);
                    
                }



                });
                IdListe++;
                    let btn = document.createElement("a");
                    div.append(btn);
                    btn.innerText = "voir tous les matchs";
                    btn.setAttribute("href","/matchs/1/phase/{{ phase.id }}/groupe/"+namePoule);
                    btn.classList.add("btn","btn-secondary","float-end","btn-sm");
        };
        }
    });
});

fetch("/api/data/phase?phase={{ phase.id+1 }}&category={{ category.id }}").then(function(resultat){
    //console.log(resultat);
    resultat.json().then(function(resultatJson){
        //console.log(resultatJson);

        data = resultatJson.data;
        //console.log(data);
        var d = 1;

        for(const namePoule in data){
            let liste = data[namePoule];
            //console.log(liste);

            data[namePoule].forEach(function(e){
                //console.log(e);

                let li = document.createElement("li");
                li.innerText= e.Name;
                document.getElementById("PhaseSuiv"+d).appendChild(li);

            });
            d++;
        };

    });
});

fetch("http://localhost:8000/api/poule/5500/positions").then(function(resultat){
    console.log(resultat);

    resultat.json().then(function(resultatJson){
        console.log(resultatJson)
    })
})
//setInterval(function(){
//    location.reload();
//},30000);
{% endblock %}