{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.Name }} - {% endblock %}

{% block body %}

    {% set nbEgalite = 0 %}
    <div class="example-wrapper">
        {% if phase.type.format != 'demifinalesfinales'  %}
            {% set removeForfait = true %}
            {% set removeTab = true %}
        {% endif %}

        <h3 class=""><a href="{{ path("category_display",{id:category.id}) }}">Catégorie {{ category.Name }}</a> > Phase : <a href="{{ path("category_display_phase",{id:category.id,phase:phase.id}) }}">{{ phase.Name }}</a> > {{ poule.Name }}</h3>


        <h4>Matchs</h4>
        <hr class="">


        {% include "admin/block/matchs.html.twig" %}




        <hr class="mt-5">

        <h4>Classement</h4>
        <hr class="">


        {% for key,groupe in classement %}


            <h5 class="mt-4">Groupe {{ key }}</h5>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Équipe</th>
                    <th>Points</th>
                    <th>Pour</th>
                    <th>Contre</th>
                    <th>Victoire</th>
                    <th>Défaite</th>
                    <th>Nul</th>

                </tr>
                {% for team in groupe %}

                    <tr>
                        <td>{{ team.Name }}</td>
                        <td>{{ team.pts }}</td>
                        <td>{{ team.but_pour }}</td>
                        <td>{{ team.but_contre }}</td>
                        <td>{{ team.victoire }}</td>
                        <td>{{ team.defaite }}</td>
                        <td>{{ team.nul }}</td>
                    </tr>


                {% endfor %}
            </table>

            <hr class="mt-5">

            {% include "admin/block/positions.html.twig" %}




        {% endfor %}



        <div class="row mt-5">

            {#<div class="col"><a class="btn btn-secondary w-100 m-2" href="">Ajouter une équipe</a></div>#}

        </div>


    </div>
{% endblock %}
