{% extends "base.html.twig" %}

{% block title %}Matchs de la catégorie {{ category.Name }} - {{ phase }} - Groupe {{ groupe }} - {% endblock %}


{% block body %}

    <h3 class=""><a href="{{ path("category_display",{id:category.id}) }}">Catégorie {{ category.Name }}</a> > Phase : <a href="{{ path("category_display_phase",{id:category.id,phase:phase.id}) }}">{{ phase.Name }}</a> > Groupe : {{ groupe }}</h3>

    <div  id="data">

    </div>


{% endblock %}

{% block javascript %}
{{ parent() }}

var table, div, tbody;
var load = document.createElement("h3");
load.setAttribute("id", "load");
load.innerText= "Chargement en cours";
document.getElementById("data").appendChild(load);

fetch("/api/data/meets?phase={{ phase.id }}&category={{ category.id }}&poule={{ groupe }}").then((data)=>{
    document.getElementById("load").style.display= "none";
    //console.log(data);
    data.json().then((jsonData)=>{
        //console.log(jsonData)

        if(jsonData.param.format === "demifinalesfinales")
        {


        } else
        {
        let listeMatch = jsonData.data;
        //console.log(listeMatch)

        let lastTour = false;
        listeMatch.forEach((match)=>{
            console.log(match);
            console.log(lastTour);



        if(!lastTour || lastTour != match.Tour){

             div = document.createElement("div");
            document.getElementById("data").appendChild(div);

            let h3 = document.createElement("h3");
            h3.innerText= "Tour "+match.Tour;
            div.appendChild(h3);

            table = document.createElement("table");
            table.classList.add("table","table-bordered","table-responsive","table-striped")
            document.getElementById("data").appendChild(div);
            div.appendChild(table);

            let thead = document.createElement("thead");
            table.appendChild(thead);

            tbody = document.createElement("tbody");
            table.appendChild(tbody);

            let tr = document.createElement("tr");
            thead.appendChild(tr);

            let th = document.createElement("th");
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Resultas"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Tir au but A"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Tir au but B"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Equipe forfaite"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Horaire"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Arbitre"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Terrain";
            tr.appendChild(th);

        }

        lastTour = match.Tour;

        let tr = document.createElement("tr");
        tbody.appendChild(tr);

        let th = document.createElement("th");
        tr.appendChild(th);


        if(match.ScoreA && match.ScoreB && match.TeamA.Name && match.TeamB.Name){
            td = document.createElement("td");
            td.innerText= match.TeamA.Name + " "+ match.ScoreA + "-" + match.ScoreB + " " + match.TeamB.Name;
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            td.innerText= "A definir _ - _  A definir";
            tr.appendChild(td);
        }


        if(!match.PenaltyA){
            td = document.createElement("td");
            td.innerText = "0";
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            td.innerText = match.PenaltyA;
            tr.appendChild(td);
        }

        if(!match.PenaltyB){
            td = document.createElement("td");
            td.innerText = "0";
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            td.innerText = match.PenaltyB;
            tr.appendChild(td);
        }

        if(!match.TeamForfait){
            td = document.createElement("td");
            td.innerText= "x";
            tr.appendChild(td);
        }else{
            td =document.createElement("td");
            td.innerText= match.TeamForfait.Name;
            tr.appendChild(td); 
        }

       if(match.time){
            td = document.createElement("td");
            var date = new Date(((match.time-7200)*1000))
            td.innerText =  (date.getHours() < 10 ? "0" : "") + date.getHours()+":" + (date.getMinutes() < 10 ? "0" : "") +date.getMinutes();
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            tr.appendChild(td);
        }

       if(match.arbitre){
            td = document.createElement("td");
            td.innerText =match.arbitre;
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            tr.appendChild(td);
        }

        if(match.Field){
            td = document.createElement("td");
            td.innerText =match.Field.Name;
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            tr.appendChild(td);
        }
    });



}

        
    });
});


setInterval(() => {
    location.reload();
}, 30000);

{% endblock %}