{% extends "base.html.twig" %}

{% block title %}Matchs de la catégorie {{ category.Name }} - Phase {{ phase }} - Groupe {{ groupe }} - {% endblock %}


{% block body %}

    <h1>Matchs de la catégorie {{ category.Name }} - Phase {{ phase }} - Groupe {{ groupe }}</h1>

    <div class="table table-bordered" id="data">

    </div>


{% endblock %}

{% block javascript %}
var tour1 = [];
var tour2 = [];
var tour3 = []; // trouver sollution
var x =0;

var TableauMatch =[];

var titre = false;
// faire une variable qui compte les match par phase et mettre tous les match dans un meme tableau ?

function afficheTour(TableauEquipe){
    let test = false;
    let a = 0;

    TableauEquipe.forEach(function(e){
        //console.log(e);
        while(test === false){
            let br = document.createElement("br");
            document.getElementById("data").appendChild(br);

            let tr = document.createElement("tr");
            tr.innerText= "Tour "+ e.Tour
            document.getElementById("data").appendChild(tr);
            test = true;
        }
        
        let tr = document.createElement("tr");
        document.getElementById("data").appendChild(tr);

        let td = document.createElement("td");
        td.innerText= e.TeamA.Name;
        tr.appendChild(td);

        td = document.createElement("td");
        td.innerText="-";
        tr.appendChild(td);

        td = document.createElement("td");
        td.innerText= e.TeamB.Name;
        tr.appendChild(td);

        if(!e.ScoreA){
            //console.log(e.ScoreA);
            td = document.createElement("td");
            td.innerText = "_";
            tr.appendChild(td);
        }else{
            //console.log(e.ScoreA);
            td = document.createElement("td");
            td.innerText = e.ScoreA;
            tr.appendChild(td);
        }

        td = document.createElement("td");
        td.innerText = "/";
        tr.appendChild(td);

        if(!e.ScoreB){
            //console.log(e.ScoreB);
            td = document.createElement("td");
            td.innerText = "_";
            tr.appendChild(td);
        }else{
            //console.log(e.ScoreB);
            td = document.createElement("td");
            td.innerText = e.ScoreB;
            tr.appendChild(td);
        }

    });
}

fetch("//localhost:8000/api/data/meets?phase={{ phase }}&category={{ category.id }}&poule={{ groupe }}").then((data)=>{
    //console.log(data);
    data.json().then((jsonData)=>{
        console.log(jsonData)
        let listeMatch = jsonData.data;
        console.log(listeMatch)
        listeMatch.forEach((match)=>{
            //console.log(match);

            if(match.Tour === 1){
                tour1.push(match); // faire un tab qui boucle
                TableauMatch.push(match);
                let compteTour1 = 0;
                

            }else if(match.Tour === 2){
                tour2.push(match);

            }else if(match.Tour === 3){
                tour3.push(match);

            }

        });

        afficheTour(tour1);
        afficheTour(tour2);
        afficheTour(tour3);
        
    });
});


//setInterval(() => {
//    location.reload();
//}, 30000);

{% endblock %}