{% extends "base.html.twig" %}

{% block title %}Matchs de la catégorie {{ category.Name }} - Phase {{ phase }} - Groupe {{ groupe }} - {% endblock %}


{% block body %}

    <h1>Matchs de la catégorie {{ category.Name }} - Phase {{ phase }} - Groupe {{ groupe }}</h1>

    <div  id="data">

    </div>


{% endblock %}

{% block javascript %}
{{ parent() }}

var tour1 = [];
var tour2 = [];
var tour3 = [];
var x =0;

var TableauMatch =[];
var titre = false;
var idTableau = 1;

var table, div, tbody;

fetch("/api/data/meets?phase={{ phase }}&category={{ category.id }}&poule={{ groupe }}").then((data)=>{
    //console.log(data);
    data.json().then((jsonData)=>{
        //console.log(jsonData)
        let listeMatch = jsonData.data;
        //console.log(listeMatch)

        let lastTour = false;
        listeMatch.forEach((match)=>{
            console.log(match);
            console.log(lastTour);



        if(!lastTour || lastTour != match.Tour){

             div = document.createElement("div");
            document.getElementById("data").appendChild(div);

            let h3 = document.createElement("h3");
            h3.innerText= "Tour "+match.Tour;
            div.appendChild(h3);

            table = document.createElement("table");
            table.classList.add("table","table-bordered","table-responsive","table-striped")
            document.getElementById("data").appendChild(div);
            div.appendChild(table);

            let thead = document.createElement("thead");
            table.appendChild(thead);

            tbody = document.createElement("tbody");
            table.appendChild(tbody);

            let tr = document.createElement("tr");
            thead.appendChild(tr);

            let th = document.createElement("th");
            th.innerText= "#"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Equipe A"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Equipe B"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Score A"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Score B"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Tir au but A"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Tir au but B"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Horaire"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Arbitre"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText= "Terrain";
            tr.appendChild(th);

        }

        lastTour = match.Tour;

        let tr = document.createElement("tr");
        tbody.appendChild(tr);

        let th = document.createElement("th");
        tr.appendChild(th);


        let td = document.createElement("td");
        td.innerText= match.TeamA.Name;
        tr.appendChild(td);


        td = document.createElement("td");
        td.innerText= match.TeamB.Name;
        tr.appendChild(td);

        if(!match.ScoreA){
            td = document.createElement("td");
            td.innerText = "0";
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            td.innerText = match.ScoreA;
            tr.appendChild(td);
        }


        if(!match.ScoreB){
            td = document.createElement("td");
            td.innerText = "0";
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            td.innerText = match.ScoreB;
            tr.appendChild(td);
        }

        if(!match.PenaltyA){
            td = document.createElement("td");
            td.innerText = "0";
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            td.innerText = match.PenaltyA;
            tr.appendChild(td);
        }

        if(!match.PenaltyB){
            td = document.createElement("td");
            td.innerText = "0";
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            td.innerText = match.PenaltyB;
            tr.appendChild(td);
        }

       if(match.time){
            td = document.createElement("td");
            var date = new Date(((match.time-7200)*1000))
            td.innerText =  date.getHours()+":"+date.getMinutes();
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            tr.appendChild(td);
        }

       if(match.arbitre){
            td = document.createElement("td");
            td.innerText =match.arbitre;
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            tr.appendChild(td);
        }

        if(match.Field){
            td = document.createElement("td");
            td.innerText =match.Field.Name;
            tr.appendChild(td);
        }else{
            td = document.createElement("td");
            tr.appendChild(td);
        }
    });





        
    });
});


//setInterval(() => {
//    location.reload();
//}, 30000);

{% endblock %}